@import 'utils/reset';

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  background: rgba(0, 0, 0, 0);
}

html {
  -webkit-app-region: drag;
}

body {
  height: 100%;
  color: #333;
  font-size: 14px;
  line-height: 1.4em;
  box-sizing: border-box;
  // Use system font.
  font: caption;

  #react-root {
    cursor: move;
    height: 100%;

    background-color: transparent;
    border-radius: 5px;
    border: 1px dashed white;
  }
}
