@import 'utils/reset';

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  background: rgba(0, 0, 0, 0);
}

html {
  -webkit-app-region: drag;
}

body {
  height: 100%;
  color: #333;
  font-size: 14px;
  line-height: 1.4em;
  box-sizing: border-box;
  // Use system font.
  font: caption;

  #react-root {
    cursor: move;
    height: 100%;
    position: relative;

    background-color: transparent;
    border-radius: 5px;
    border: 1px dashed white;

    #camera-preview {
      width: 150px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: none;
      border: 1px solid black;
      border-radius: 3px;

      &.show {
        display: block
      }
    }
  }
}
