#preview-page {
  height: 100%;
  background: -webkit-linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);

  #recorder {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 13px 10px;

    .button {
      cursor: pointer;
      padding: 5px 10px;

      border-radius: 5px;
      box-shadow: 1px 1px 1px #000, inset 1px 1px 1px #fff;
      transition: all 0.15s ease;
      background: #8a8a8a;

      img {
        width: 40px;
        height: 40px;
        display: block;
      }

      &:active {
        box-shadow: inset 0 0 5px #000000;
      }
    }

    &.picking {
      .take-photo { display: block; }
      .make-photo { display: none;  }
      .take-video { display: block; }
      .start-rec  { display: none;  }
      .stop-rec   { display: none;  }
      .waiting    { display: none;  }
    }

    &.video_cropping {
      .take-photo { display: none;  }
      .make-photo { display: none;  }
      .take-video { display: none;  }
      .start-rec  { display: block; }
      .stop-rec   { display: none;  }
      .waiting    { display: none;  }
    }

    &.processing {
      .take-photo { display: none;  }
      .make-photo { display: none;  }
      .take-video { display: none;  }
      .start-rec  { display: none;  }
      .stop-rec   { display: none;  }
      .waiting    { display: block; }
    }

    &.recording {
      .take-photo { display: none;  }
      .make-photo { display: none;  }
      .take-video { display: none;  }
      .start-rec  { display: none;  }
      .stop-rec   { display: block; }
      .waiting    { display: none;  }
    }

    &.photo_cropping {
      .take-photo { display: none;  }
      .make-photo { display: block; }
      .take-video { display: none;  }
      .start-rec  { display: none;  }
      .stop-rec   { display: none;  }
      .waiting    { display: none;  }
    }
  }
}

#settings {
  width: 100%;
  padding-bottom: 10px;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;


    #show-more {
      position: relative;
      cursor: pointer;
      width: 100%;
      padding: 5px 10px;
      background: #eee;

      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: grey transparent;
      }

      &.active {
        &:after {
          border-width: 0 6px 6px 6px;
        }
      }
      &.disable {
        &:after {
          top: 56%;
          border-width: 2px 6px 2px 6px;
          border-color: grey;
        }
      }
    }

    .question,
    .switch {
      padding: 5px 10px;
    }

    .question {
      line-height: 25px;
      flex: 1;
    }

    .switch {

      .cmn-toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
      }
      .cmn-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
      }

      .cmn-toggle-round-flat + label {
        padding: 1px;
        width: 45px;
        height: 25px;
        border-radius: 60px;
        transition: background 0.4s;

        &:before,
        &:after {
          display: block;
          position: absolute;
          content: '';
        }
        &:before {
          top: 1px;
          left: 1px;
          bottom: 1px;
          right: 1px;
          background-color: #fff;
          border-radius: 30px;
          transition: background 0.4s;
        }
        &:after {
          top: 3px;
          left: 3px;
          bottom: 3px;
          width: 19px;
          background-color: #dddddd;
          border-radius: 25px;
          transition: margin 0.4s, background 0.4s;
        }
      }
      .cmn-toggle-round-flat:checked + label {
        background-color: #8ce196;

        &:after {
          margin-left: 20px;
          background-color: #8ce196;
        }
      }
    }
  }
}
